*{
    font-family: 'Roboto', sans-serif;
    color: #b3b3b3;
    text-decoration: none;
}
.nav{
    display:flex;
    justify-content: space-between;
    background-color: #333333;
    align-items: center;
    padding: 0 10px;
}
ul{
    list-style: none;
    display: flex;
}
li{
    margin: 0 10px;
}
.active{
    color: #e3e3e3;
}
.btn{
    background-color: #17a2b8;
    color: #e3e3e3;
    height: 30px;
    width: 90px;
    font-size: 16px;
    box-shadow: 5px 5px black;
    border-color: black;
}
.nav-links{
    align-items: center;
}